body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

.App {
	height: 50vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.file-input {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 50vh;
	gap: 15px;
}

.input-form {
	height: 50vh;
	display: flex;
	justify-content: center;
}
.upload-area {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;
}

.upload-area > div > div > div > div > .clear-indicator {
	display: none;
}
